{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Pembeli</h1>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nama</th>
              <th scope="col">No. Telepon</th>
              <th scope="col">No. KTP</th>
              <th scope="col">No. NPWP</th>
            </tr>
          </thead>
          <tbody>
            {% for buyer in buyer_list %}
              <tr>
                <td>{{ buyer.name }}</td>
                <td>{{ buyer.phone_number }}</td>
                <td>{{ buyer.num_ktp }}</td>
                <td>{{ buyer.num_npwp }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}